/* Location detail
-------------------------------------------------------------- */
.detail {padding:16px;font-size:18px;opacity:0;}
.loaded-data .detail {opacity:1;}
[class*='detail'] {margin-bottom:1rem}
.detail {
	[class*='icon-'] {display:block;position:relative;padding:0 0 0 30px;
		&:before {position:absolute;left:0;background-position:center left;}
	}
	[class*='icon-website']:before {left:4px;top:-1px}
}
a.detail [class*='icon-']:hover {color:rgb(245, 124, 0);} 
.icon-place:after {content:' (View on map)';font-size:.8rem}
.detail-taps,
.detail-facilities {padding-top:1rem}
.detail-description,
.detail-taps,
.detail-facilities {font-size:1rem;}
.detail-taps-type {display:block;margin-bottom:0;}
.detail-facilities {
	[class*='icon-']:hover {color:inherit;} 
}