/* Forms
-------------------------------------------------------------- */
input[type='text'] {border:0 none;height:32px;margin:20px 0 0 12px;border-bottom:1px solid rgba(0,0,0,0);padding:4px;font-size:1.15rem;color:#fff;display:flex;flex: 1;background:rgb(245, 124, 0);transition:background 50ms linear;
	&:focus {outline:none;border-bottom:1px solid rgb(255,255,255);background-color:rgb(255, 152, 0)}
}
@include placeholder(rgba(255, 255, 255, 0.7));