/* Navigation
-------------------------------------------------------------- */
.nav-primary {display:flex;flex-direction:row;flex-wrap: nowrap;justify-content:flex-end;}
.nav-primary-item {color:#fff;padding:0 10px;
	&.button:before {margin:11px 0 0 0;}
	&:hover {transition:background 50ms linear;}
}
.nav-primary-item:hover,
.nav-primary-item--current {background:$light-color;}

.filter {height:0;overflow:hidden;display:flex; flex-direction:row;background:$light-color;}
.filter--on .filter {height:70px;overflow:auto;}
.filter-item {padding:0 8px;font-size:14px;height:32px;margin:19px 10px 0 10px;background:$primary-color;transition:background 50ms linear}
.filter-item:first-of-type {margin-left:20px}
.filter-item:hover {background:$light-color;}
.filter-item--current {border-bottom:1px solid #fff;background:$light-color;}

.no-flexbox {
	.nav-primary{display:table-cell;}
	.nav-primary-item {display:inline-block;height:60px;}
	.filter {display:block;}
	.filter-item {display:inline-block;margin:20px 0 0 10px;vertical-align:top}
}